<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
               <h2>Task Display</h2>
            </header>
            <div class="panel-body">
              <div class="form">
                <%= form_for(@ad, html: {class: "form-validate form-horizontal" }) do |f| %>
                  <%= render 'partials/error_messages', object: @ad %>                
                  <div class="form-group ">
                      <%= f.label :project_id, "Project", :class => "control-label col-lg-2" %>
                    <div class="col-lg-10">
                      <%#= f.select(:roles, raw("<option>Developer</option><option>Host/Investor</option>"), {}, { :class => "form-control", :id => "location"}) %>
                      <% if @ad.project_id %>
                      	<%= f.select(:project_id, Project.all.collect {|p| [ p.name, p.id ]}, {:selected => @ad.project_id}, {:class => "form-control", disabled: true}) %>                      
                      <% else %>
                      	<%= f.select(:project_id, Project.all.collect {|p| [ p.name, p.id ]}, {include_blank: 'Select an existing Project', selected: "Select an existing Project", disabled: true}, {:class => "form-control"}) %>
                      <% end %>                      
                    </div>
                  </div> 
                  <div class="form-group ">
                      <%= f.label :location_id, "Location", :class => "control-label col-lg-2" %>
                    <div class="col-lg-10">
                      <%#= f.select(:roles, raw("<option>Developer</option><option>Host/Investor</option>"), {}, { :class => "form-control", :id => "location"}) %>
                      <% if @ad.location_id %>
                      	<%= f.select(:location_id, Location.all.collect {|p| [ p.location, p.id ]}, {:selected => @ad.location_id}, {:class => "form-control", disabled: true}) %>                      
                      <% else %>
                      	<%= f.select(:location_id, Location.all.collect {|p| [ p.location, p.id ]}, {include_blank: 'Select an existing Location', selected: "Select an existing Location"}, {:class => "form-control", disabled: true}) %>
                      <% end %>                      
                    </div>
                  </div>
				  <div class="form-group ">
                      <%= f.label :task_id, "Task", :class => "control-label col-lg-2" %>
                    <div class="col-lg-10">
                      <%#= f.select(:roles, raw("<option>Developer</option><option>Host/Investor</option>"), {}, { :class => "form-control", :id => "location"}) %>
                      <% if @ad.task_id %>
                      	<%= f.select(:task_id, Task.all.collect {|p| [ p.name, p.id ]}, {:selected => @ad.task_id}, {:class => "form-control", disabled: true}) %>                      
                      <% else %>
                      	<%= f.select(:task_id, Task.all.collect {|p| [ p.name, p.id ]}, {include_blank: 'Select an existing Task', selected: "Select an existing Task"}, {:class => "form-control", disabled: true}) %>
                      <% end %>                      
                    </div>
                  </div>                                                      
                  <div class="form-group ">
                      <%= f.label :title, "Title", :class => "control-label col-lg-2" %>
                    <div class="col-lg-10">
                      <%= f.text_field :title, :class => "form-control", disabled: true %>
                    </div>
                  </div>                  
                  <div class="form-group ">
                      <%= f.label :description, "Description", :class => "control-label col-lg-2" %>
                    <div class="col-lg-10">
                      <%= f.text_field :description, :class => "form-control", disabled: true %>
                    </div>
                  </div> 
                  <div class="form-group ">
                      <%= f.label :skill_list, "Skills Required", :class => "control-label col-lg-2" %>
                    <div class="col-lg-10">
                      <%= f.text_field :skill_list, :class => "tagsinput form-control", :id => "tagsinput", value: f.object.skill_list.map { |t| t}.join(', '), disabled: true  %>
                    </div>
                  </div> 
                  <div class="form-group ">
                      <%= f.label :days, "Days", :class => "control-label col-lg-2" %>
                    <div class="col-lg-10">
                      <%= f.number_field :days, :class => "form-control", disabled: true %>
                    </div>
                  </div>                  
                  <div class="form-group ">
                      <div class="col-lg-10-lg-offset-2 col-lg-10">
                          <%#= f.submit "Save", :class => "btn btn-primary wideButton"%>
                          <%= link_to "Back", project_path(@ad.project_id), :method => :get, :class => "btn btn-default wideButton" %>
                      </div>
                  </div>                
                <% end %> 
              </div>
            </div>
        </section>   
    </div>
</div>

<%# console %> 
<!-- page end-->
<div class="text-right">
  <div class="credits">
      <!-- 
          All the links in the footer should remain intact. 
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
      -->
      <a href="https://bootstrapmade.com/free-business-bootstrap-themes-website-templates/">Business Bootstrap Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>
</div>