<!--<div class="login-img3-body">-->
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "login-form"}) do |f| %>
  <div class="login-wrap">
    <p class="login-img"><i class="icon_lock_alt"></i></p>    
    <div class="input-group">
      <span class="input-group-addon"><i class="icon_profile"></i></span>
      <%#= f.label :email %>
      <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Username" %>
      <!--<input type="text" class="form-control" placeholder="Username" autofocus>-->
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="icon_key_alt"></i></span>
        <%#= f.label :passworud %>
        <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password" %>
    </div>
    <% if devise_mapping.rememberable? -%>
    <label class="checkbox">
        <%= f.check_box :remember_me %> 
        <%= f.label :remember_me, :class => "remember_me_Label" %>
        <span class="pull-right"> <%= link_to "Forgot Password?", {}, :id => "lostPw" %></span>
    </label>
    <% end %>      
    <%= f.submit "Login", :class => "btn btn-primary btn-lg btn-block" %>
    <%= link_to "Signup", new_registration_path(resource), :method => :get, class: "btn btn-info btn-lg btn-block signuptext" %>
    <div class="links ">
    <%= render "devise/shared/links2" %>
    </div>

  </div>
<% end %>
